// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: white;
$popover-bg: #0000009e;

$dark: #291F1F;
$light: #F9F4F4;

$dark-contrast: #291f1f5d;

$chat-text: #291F1F;
// $chat-bg: #1F1F29;
$chat-bg: $light;
$chat-bg-focus: $light;
