main {
  position: relative;
  height: 100vh;
  overflow: scroll;
  width: 100vw;
}

.puzzle {
  position: relative;
  height: 700px;
  width: 100%;

  @media screen and (max-width: 740px) {
    height: auto;
  }

  .tiles {
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    opacity: 1;
    transition: all 500ms linear;
    width: fit-content;

    @media screen and (max-width: 740px) {
      grid-gap: 10px;
    }
  }

  .contact-message {
    position: absolute;
    left: 50%;
    opacity: 0;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 500ms linear;
    width: 100%;
    z-index: 1;

    a {
      color: $dark;
      font-size: 4.1vh;
      text-decoration: none;

      @media screen and (max-width: 900px) {
        font-size: 24px;
        margin: 0 15px;
        text-align: center;
      }
    }
  }
}

.tile {
  height: $tile-size;

  @media screen and (max-width: 740px) {
    height: $tile-size-responsive;
  }

  img {
    cursor: grab;
    height: $tile-size;
    width: $tile-size;

    @media screen and (max-width: 740px) {
      height: $tile-size-responsive;
      width: $tile-size-responsive;
    }

    &:active {
      cursor: grabbing;
    }
  }
}

.reveal {
  margin: 5vh auto;
  width: 90vw;

  &__title {
    align-items: center;
    border-bottom: 1px $dark solid;
    display: flex;
    height: 50px;
    padding: 0 10px;

    &:hover {
      cursor: pointer;

      &::after {
        animation: rotationArrow 200ms linear both;
      }
    }

    &::after {
      content:"❯";
      display: inline-block;
      margin: 0 10px;
    }
  }

  &__content {
    height: 0;
    overflow: hidden;

    img {
      box-shadow: 5px 0 10px #00000026;
      float: left;
      margin: 40px 25px 10px 25px;
      width: 40vw;
      filter: grayscale(1);
    }

    .last-image {
      width: 90vw;
      margin: 20px auto;
    }

    &--text {
      font-family: $chat-font;
      margin: 40px 20px;

      p {
        font-size: 2.3vh;
        margin: 20px 0;
        text-align: justify;
      }

      li {
        font-size: 2.3vh;
        list-style-type: disc;
        margin: 10px 0;

        a {
          color: $dark;
        }
      }
    }
  }
}
