main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.puzzle {
  width: 100%;
  height: 700px;

  @media screen and (max-width: 740px) {
    height: auto;
  }

  .tiles {
    position: relative;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    opacity: 1;
    transition: all 500ms linear;

    @media screen and (max-width: 740px) {
      grid-gap: 10px;
    }
  }

  .contact-message {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 500ms linear;
    width: max-content;
    z-index: 1;

    a {
      color: $dark;
      font-size: 4.1vh;
      text-decoration: none;

      @media screen and (max-width: 900px) {
        font-size: 24px;
        margin: 0 15px;
        text-align: center;
      }
    }
  }
}

.tile {
  height: $tile-size;

  @media screen and (max-width: 740px) {
    height: $tile-size-responsive;
  }

  img {
    width: $tile-size;
    height: $tile-size;
    cursor: grab;

    @media screen and (max-width: 740px) {
      width: $tile-size-responsive;
      height: $tile-size-responsive;
    }

    &:active {
      cursor: grabbing;
    }
  }
}
