.landing-frame {
  height: 40%;
  padding: 40px 0;
  width: fit-content;

  p {
    width: 70%;
    text-align: justify;
  }
}


.sub-frame {
  border: 4px solid $dark;
  width: 70%;
  margin: 20px;
  height: 40%;
  padding: 15px 30px;
  justify-content: space-around;

  .error-msg {
    font-size: 12px;
    color: red;
  }
}

.popover {
  position: relative;
  margin: auto 5px;

  &__content {
    position: absolute;
    background-color: $popover-bg;
    border-radius: 4px;
    color: $light;
    font-size: 10px;
    left: 26px;
    min-width: 150px;
    padding: 15px 10px;
    top: -12px;

    p {
      font-family: $body-font;
      line-height: 15px;
    }
  }

  .arrow {
    position: absolute;
    height: 20px;
    left: 19px;
    overflow: hidden;
    top: -2px;
    width: 7px;

    &::after {
      content: "";
      position: absolute;
      background-color: $popover-bg;
      height: 10px;
      left: 2px;
      top: 5px;
      transform: rotate(45deg);
      width: 10px;
    }
  }
}
