* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;

	a{
		&:visited {
      color: $dark;
    }
  }
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.margin-auto {
  margin: 0 auto;
}

.hidden {
	display: none;
}

body {
  font-family: 'Comico', 'cursive';
  background-color: $light;
}

.frame {
  border: 8px solid $dark;
  height: 80vh;
  margin: 5vh auto;
  padding: 20px 20px;
  width: 90vw;

  .corner-points {
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;

  }
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $dark;
  border-radius: 50%;

  &:first-child {
    top: 0;
    left: 0;
  }

  &:nth-child(2) {
    top: 0;
    right: 0;
  }

  &:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  &:nth-child(4) {
    bottom: 0;
    right: 0;
  }
}

.sub-text {
  font-size: 12px;
}

em {
  text-decoration: underline;
}
