.yesno {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 150px;
  width: 25%;
  height: 20%;

   p {
    border: 2px solid $dark;
    padding: 4px 15px;

    a {
      text-decoration: none;
      color: $dark;
      animation: alternateLinkColor 1500ms linear reverse infinite;
    }

    &:first-child {
      animation: alternateBackground 1500ms linear reverse infinite;

      &:hover {
        animation-play-state: paused;

        & > a {
          animation-play-state: paused;
        }
      }

      &:hover + p:last-child {
        animation-play-state: paused;
      }
    }

    &:last-child {
      background-color: $dark;
      color: $light;
      animation: alternateBackground 1500ms linear infinite;

      &:hover {
        cursor: pointer;
        animation-play-state: paused;
      }
    }
   }
}

.container__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .loading-title {
    font-size: 6.5vh;
    margin: 8px;

    &:first-child {
      animation: loading 1000ms linear infinite;
    }

    &:nth-child(2) {
      animation: loading 1000ms linear infinite;
      animation-delay: 50ms;
    }

    &:nth-child(3) {
      animation: loading 1000ms linear infinite;
      animation-delay: 100ms;
    }

    &:nth-child(4) {
      animation: loading 1000ms linear infinite;
      animation-delay: 150ms;
    }

    &:nth-child(5) {
      animation: loading 1000ms linear infinite;
      animation-delay: 200ms;
    }

    &:nth-child(6) {
      animation: loading 1000ms linear infinite;
      animation-delay: 250ms;
    }

    &:nth-child(7) {
      animation: loading 1000ms linear infinite;
      animation-delay: 300ms;
    }

    &:nth-child(8) {
      animation: loading 1000ms linear infinite;
      animation-delay: 350ms;
    }

    &:nth-child(9) {
      animation: loading 1000ms linear infinite;
      animation-delay: 400ms;
    }

    &:nth-child(10) {
      animation: loading 1000ms linear infinite;
      animation-delay: 450ms;
    }
  }
}
