.div-texts {
  position: relative;
  // text-align: center;
  width: fit-content;

  #solution {
    position: absolute;
    top: 0;
    left: 5px;
    color: rgba(0, 0, 0, 0);

    &::selection {
      color: $light;
      background-color: $dark;
    }
  }

}

.content {
  width: 100%;

  h1 {
    text-align: center;
    width: 70%;
    margin: 25px auto;
  }

  p {
    margin: 25px auto;
  }
}
