.div-texts {
  position: relative;
  // text-align: center;
  width: fit-content;

  #solution {
    position: absolute;
    color: rgba(0, 0, 0, 0);
    left: 5px;
    top: 0;

    &::selection {
      background-color: $dark;
      color: $light;
    }
  }

}

.content {
  width: 100%;

  h1 {
    margin: 25px auto;
    text-align: center;
    width: 70%;
  }

  p {
    margin: 25px auto;
    width: 900px;
  }
}
