<%
# @chat_bot_answers = ["Ce n'est malheureusement pas la bonne réponse. Les images peuvent te mettre sur la voie", "Bien essayé, mais ce n'est pas ça", "Désolé, mais ce n'est pas la réponse", "Si tu ne trouves pas, c'est rien. As-tu pensé à chercher sur Google ?", "Ce n'est pas ca, mais je te donne un indice : la réponse tient en quatre lettres"]

@chat_bot = Chat.create(content: @chat_bot_answers.sample, origin: false, enigma_id: @enigma.id)
%>

<li><%= @chat_bot.content %></li>
