<div class="status">
  <div class="point"></div>
  <div class="point"></div>
  <div class="point"></div>
  <div class="point"></div>

  <%= image_tag "avatar.jpg", alt:"avatar" %>
  <div class="status__content">
    <div class="profil-info">
      <h3>Philosophe_du_35</h3>
      <p>@nothingtosay</p>
    </div>
    <p>Voici mon enigme : "Je suis plus grand que dieu, pire que le diable, les pauvres en ont, les riches en ont besoin. Si vous me mangez, vous mourrez. Qui suis-je ?"</p>
  </div>
</div>

<div class="messages" data-chat-target="chatWrapper">
  <%= render partial:"shared/messages", locals: {chats: @chats} %>

  <%= render partial:"shared/form_chat", locals: {enigma: @enigma, chat: @chat} %>

  <span data-chat-target="nextStageBtn">
  <% unless @chat_bots.where("content LIKE ?", 'Bravo' + '%').empty? %>
    <%= render partial:"shared/next_stage_btn", locals: {enigma: @enigma} %>
  <% end %>
  </span>


</div>
