<%
@chat_bot_answers = ["Ce n'est malheureusement pas la bonne réponse", "Bien essayé, mais ce n'est pas ça", "Désolé, mais ce n'est pas la réponse", "Et non ! Tu as pensé à chercher sur Google ?", "Ce n'est pas ca, mais je te donne un indice : la réponse a moins de 6 lettres"]

@chat_bot = Chat.create(content: @chat_bot_answers.sample, origin: false, enigma_id: @enigma.id)
%>

<li><%= @chat_bot.content %></li>
