<div class="status">
  <img src="#" alt="avatar">
  <div class="status-content">
    <div class="profil-info">
      <h3>Rien_a_dire</h3>
      <p>@nothingtosay</p>
    </div>
    <p>Celui ou celle qui répond à cette énigme est un.e génie : "Je suis plus grand que dieu, pire que le diable, les pauvres en ont, les riches en ont besoin. Si vous me mangez, vous mourrez. Qui suis-je ?" - Je t'ai mis des images plus bas pour t'aider un peu, je pense que tu en auras besoin !</p>
  </div>
</div>

<div class="messages" data-chat-target="chatWrapper">
  <%= render partial:"shared/messages", locals: {chats: @chats} %>

  <%= render partial:"shared/form_chat", locals: {enigma: @enigma, chat: @chat} %>

  <span data-chat-target="nextStageBtn">
  <% unless @chat_bots.where("content LIKE ?", 'Bravo' + '%').empty? %>
    <%= render partial:"shared/next_stage_btn", locals: {enigma: @enigma} %>
  <% end %>
  </span>


</div>

<%# console %>
