<% @chat_bot = Chat.create(content: "Bravo, tu as trouvé ! 🎉🎉🎉 Tu peux désormais passer à la dernière épreuve en cliquant sur le bouton qui vient d'apparaître", origin: false, enigma_id: @enigma.id) %>

<li><p><%= @chat_bot.content %></p></li>
