<%
@chat_bot_answers = ["Ce n'est malheureusement pas la bonne réponse", "Bien essayé, mais ce n'est pas ça", "Désolé, mais ce n'est pas la réponse", "Tu as pensé à chercher sur Google ?", "Ce n'est pas ca, mais je te donne un indice : la réponse tient en quatre lettres"]

if @chat.content.downcase == 'rien'
  @chat_bot = Chat.create(content: "Bravo ! Tu as trouvé champion !", origin: false, enigma_id: @enigma.id)
else
  @chat_bot = Chat.create(content: @chat_bot_answers.sample, origin: false, enigma_id: @enigma.id)
end
%>

<li><%= @chat_bot.content %></li>
