<div class="status">
  <img src="#" alt="avatar">
  <div class="status-content">
    <div class="profil-info">
      <h3>Philosophedu35</h3>
      <p>@phiphi</p>
    </div>
    <p>Il y a une question pour laquelle je ne trouve pas la réponse : qu’est-ce qui est pire que le diable, mieux que dieu, et si on en mange, on meurt ?</p>
  </div>
</div>

<div class="messages">
  <div class="historic-messages">
    <ul>
      <% chats.each do |c| %>
        <li class='chat-user'><%= c.content %></li>
      <% end %>
    </ul>
  </div>

  <%= render partial:"shared/form_chat", locals: {enigma: @enigma, chat: @chat} %>

  <% if @chat_bots.where("content LIKE ?", 'Bravo' + '%').length > 0 %>
    <p class="btn"><%= link_to "Aller à la dernière épreuve", enigma_final_path(@enigma) %></p>
  <% end %>


</div>

<%# console %>
