<div class="form-chat">
  <%= simple_form_for [@enigma, @chat] do |f| %>
    <%= f.input :content,
                placeholder: 'Écris ta réponse ici...'
                %>
    <%= f.submit "Envoyer" %>
  <% end %>
</div>
