<div class="form-chat">
  <%= simple_form_for([enigma, chat], data: {
                                        chat_target:"form",
                                        action:"submit->chat#sendMessage"
                                      }) do |f|
  %>
    <%= f.input :content,
                placeholder: 'Écris ta réponse ici...',
                input_html: {
                  data: {
                    chat_target:"formInput"
                  }
                }
                 %>
    <%= f.submit "Envoyer" %>
  <% end %>
</div>
