<div class="container__form">
  <%= simple_form_for [enigma, answer] do |f| %>
    <%= f.input :content,
                label: "Ta réponse ici 👉",
                placeholder: "Que vas-tu bien pouvoir nous écrire 🤔" %>
    <i class="fa-solid fa-circle-question"></i>
    <%= f.submit "Valider" %>
  <% end %>
</div>
