<div class="container flex-center">
  <div class="frame flex-center">
    <div class="corner-points flex-center space-around">
      <div class="point"></div>
      <div class="point"></div>
      <div class="point"></div>
      <div class="point"></div>

      <div class="landing-frame flex-center flex-column space-around">
        <h1>BIENVENUE SUR FINDHINT !!!</h1>

        <p>Tu as quelques minutes pour jouer ? (il y a une surprise à la fin ! )</p>

        <div class="yesno-fix">
          <p>Oui</p>
          <p>Non</p>
        </div>
      </div>

      <div class="sub-frame">
        <p>Super ! Pour commencer, donne moi le mot de passe !</p>
        <%= render partial:"shared/form_answers", locals: {enigma: @enigma, answer: @answer} %>

        <div data-controller="popover" data-popover-url-value="<%= enigma_firsthint_path(@enigma) %>" >
          <a href="#"><i class="fa-solid fa-circle-question"></i></a>
        </div>

        <p class="sub-text">(Si tu ne trouves vraiment pas, un compliment sincère fera l’affaire)</p>
      </div>

    </div>
  </div>
</div>
