<div class="container">
  <h1>CADRE</h1>
  <p>Super ! Pour commencer, donne moi le mot de passe ! (Si tu ne trouves vraiment pas, un compliment fera l’affaire s’il est sincère)</p>
  <%= render partial:"shared/form_answers", locals:{answer: @answer} %>
</div>
