@keyframes flickering {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes alternateBackground {
  0%, 50% {
    background-color: $dark;
    color: $light;
  }
  51%, 100% {
    background-color: $light;
    color: $dark;
  }
}

@keyframes alternateLinkColor {
  0%, 50% {
    color: $light;
  }
  51%, 100% {
    color: $dark;
  }
}

@keyframes rotationArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
