<main data-controller="wrapper" data-action="scroll->wrapper#hide">
  <div class="container flex-center">
    <div class="frame flex-center">
      <div class="corner-points flex-center flex-column">
        <div class="point"></div>
        <div class="point"></div>
        <div class="point"></div>
        <div class="point"></div>
        <h1>Nous y voilà ! Le grand final !</h1>
        <p>On fini sur un petit puzzle, pas de stress, il n’y a aucun piège !</p>
      </div>

    </div>
  </div>


  <div class="header-scroll" data-wrapper-target="scroll">
    <p class="scroll-items">SCROLL</p>
    <p class="scroll-items">|</p>
  </div>


  <div class="puzzle margin-auto" data-controller="sortable-puzzle" data-sortable-puzzle-sort-url-value="<%= sort_enigma_tiles_path(@enigma) %>">

    <% @tiles.each do |t| %>
      <div class="tile" data-sortable-puzzle-target="tile" data-tile-id=<%= t.id %> >
        <%= image_tag t.image, alt:"puzzle" %>
      </div>
    <% end %>

  </div>
</main>
