<div class="container">
  <h1>BIENVENUE SUR FINDHINT !!!</h1>

  <p>Tu as quelques minutes pour jouer ? (il y a une surprise à la fin ! )</p>

  <p><%= link_to "Oui", enigmas_path, data: {turbo_method: :post} %></p>
  <p>Non</p>

</div>
